<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <!-- Required for foreground services on P+. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!--
      Required for the datasync foreground service type from Android 14 onwards, see:
      https://developer.android.com/about/versions/14/changes/fgs-types-required
    -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <!-- POST_NOTIFICATIONS is required for posting the Ongoing Activity -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:allowBackup="true"
        android:name="agdesigns.elevatefitness.presentation.WearApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <receiver
            android:name=".data.RestAlarmReceiver"
            android:exported="false" />
        <receiver
            android:name=".data.HintAlarmReceiver"
            android:exported="false" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <activity
            android:name="agdesigns.elevatefitness.presentation.WearActivity"
            android:launchMode="singleTop"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/MainActivityTheme.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="elevatefitnesswear"
                    android:host="startworkout" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.WorkoutService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <service
            android:name=".service.WearDataLayerListenerService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.REQUEST_RECEIVED" />
                <data
                    android:host="*"
                    android:path="/data_layer_app_helper/launch_app"
                    android:scheme="wear" />
            </intent-filter>
        </service>
        <service
            android:name=".service.WearWorkoutDataService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/proto" />
            </intent-filter>
        </service>



        <service
            android:name=".service.WearInfoService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.REQUEST_RECEIVED" />
                <!--
                For each of these, we only set the specific path of the service
                This cannot be set explicitly and is controlled by horologist
                The path will be "/grpc/${type.simpleName}

                We do this to avoid unnecessary NPE caused by all services receiving all messages
                 -->
                <data
                    android:host="*"
                    android:pathPrefix="/grpc/WearInfoServiceCoroutineStub"
                    android:scheme="wear"
                    />
            </intent-filter>
        </service>

        <service
            android:name=".service.Phone2WatchService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.REQUEST_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/grpc/WorkoutWearServiceCoroutineStub"
                    android:scheme="wear"
                    />
            </intent-filter>
        </service>
    </application>

</manifest>