<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--Permission for posting notifications-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Health Connect permissions -->
    <uses-permission android:name="android.permission.health.WRITE_EXERCISE"/>
    <uses-permission android:name="android.permission.health.WRITE_ACTIVE_CALORIES_BURNED"/>
<!--  TODO: re-enable   -->
<!--    <uses-permission android:name="android.permission.health.READ_WEIGHT"/>-->
<!--    <uses-permission android:name="android.permission.health.WRITE_WEIGHT"/>-->
    <!--Permission for live update eligibility-->
    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />

    <!-- Keep alive   -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove" />

    <!-- Required for Health Connect package visibility on Android 11+ -->
    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>

    <application
        android:enableOnBackInvokedCallback="true"
        android:localeConfig="@xml/locales_config"
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElevateFitness"
        tools:targetApi="33">

        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />

        <service android:name=".service.NotificationListener"
            android:exported="false"
            android:label="Enable media controls"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
            <meta-data
                android:name="android.service.notification.disabled_filter_types"
                android:value="conversations|alerting|ongoing|silent">
            </meta-data>
        </service>
        <service
            android:name=".service.WorkoutForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync">
        </service>
        <service
            android:name=".service.WearWorkoutDataService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.REQUEST_RECEIVED" />
                <!--
                For each of these, we only set the specific path of the service
                This cannot be set explicitly and is controlled by horologist
                The path will be "/grpc/${type.simpleName}

                We do this to avoid unnecessary NPE caused by all services receiving all messages
                 -->
                <data
                    android:host="*"
                    android:path="/grpc/WorkoutServiceCoroutineStub"
                    android:scheme="wear"
                    />

            </intent-filter>
        </service>
        <service
            android:name=".service.PhoneInfoService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.REQUEST_RECEIVED" />
                <data android:host="*"
                    android:path="/grpc/PhoneInfoServiceCoroutineStub"
                    android:scheme="wear"
                    />

            </intent-filter>
        </service>
        <service
            android:name=".service.WearMediaDataService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.REQUEST_RECEIVED" />
                <data
                    android:host="*"
                    android:path="/grpc/MediaServiceCoroutineStub"
                    android:scheme="wear"
                    />
            </intent-filter>
        </service>
        <!-- Required by Health Connect to show permission usage to users -->
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="true"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:launchMode="standard"
            android:exported="true"
            android:theme="@style/Theme.ElevateFitness">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="elevatefitness"
                    android:host="autoopenworkout" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="elevatefitness"
                    android:host="workout" />
            </intent-filter>
        </activity>
    </application>

</manifest>